<style>
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
table {
  margin-left: auto; 
  margin-right: auto;
}
</style>

<div style="text-align:center" class="">
  <br>
  <h1>DASHBOARD </h1>
</div>
<div style="text-align:center">
  <% if current_user %>
    <p style="font-size:28px"> Hello <b style="color:orange"> <%= current_user.email %> </b></p>
    
    <div style="padding-left:40px;">
    <table>
    <thead>
        <tr>
        <th>summary</th>
        <th>time_spent</th>
        <th>log_date</th>
        <th>note</th>
        <th>user_id</th>
        <th>read</th>
        </tr>
    </thead>
    <tbody>

    <% timelogs = TimeLog.where(user_id: current_user.id) %>
    <% timelogs.each do |timelog| %>
        <tr>
        <td><%= timelog.summary %></td>
        <td><%= timelog.time_spent %></td>
        <td><%= timelog.log_date %></td>
        <td><%= timelog.note %></td>
        <td><%= timelog.user_id %></td>
        <td>
          <a href="/time_log/<%= timelog.id %>">
            read
          </a>
        </td>
        </tr>
        <% end %>
    </tbody>
    </table>
</div>

  <%else%> 
    <%= image_tag "hello.jpg", height: 400 %>
    <p style="font-size:25px">please <%= link_to "Sign Up", new_user_registration_path %> or 
    <%= link_to "Sign In", new_user_session_path %> <br> for visit your dashboard </p>
  <% end %>

</div>