<style>
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
table {
  margin-left: auto; 
  margin-right: auto;
  overflow-x: auto; 
}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="text-align:center" class="">
  <br>
  <div style="text-align:center; padding-left:40px; color:gray "><h1>DASHBOARD </h1><br>
</div>
<div style="text-align:center">
  <% if current_user %>
   <!-- <p style="font-size:28px"> Hello <b style="color:orange"> <%= current_user.email %> </b></p>-->
    
    <div style="padding-left:40px;">
    <table>
    <thead>
        <tr>
        <th>summary</th>
        <th>time_spent</th>
        <th>log_date</th>
        <th style="width:30%">note</th>
        <th>user_id</th>
        <th>read</th>
        <th>edit</th>
        <th>delete</th>
        </tr>
    </thead>
    <tbody>

    <% timelogs = TimeLog.where(user_id: current_user.id).order(log_date: :desc) %>
    <% timelogs.each do |timelog| %>
        <tr>
        <td><%= timelog.summary %></td>
        <td><%= timelog.time_spent.strftime("%H:%M")  %></td>
        <td><%= timelog.log_date.strftime("%Y-%m-%d") %></td>
        <td><%= timelog.note %></td>
        <td><%= timelog.user_id %></td> 
        <td>
          <a href="/time_log/<%= timelog.id %>">
            read
          </a>
        </td>
        <td>  <a class="" href="http://localhost:3000/time_log/<%= timelog.id %>/edit"> edit </a> </td>
        <td> 
        <% timelogid = timelog.id %>
        <%= link_to "delete", url_for("http://localhost:3000/time_log/#{timelogid}/destroy"), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } %> 
      </td>
        </tr>
        <% end %>
    </tbody>
    </table>
</div>
<br> <br>
<div style="text-align:left; padding-left:40px">
  <a class="btn btn-primary" href="http://localhost:3000/time_log/new"> create new TimeLog </a>
</div>
<br>

  <%else%> 
    <%= image_tag "hello.jpg", height: 400 %>
    <p style="font-size:25px">please <%= link_to "Sign Up", new_user_registration_path %> or 
    <%= link_to "Sign In", new_user_session_path %> <br> for visit your dashboard </p>
  <% end %>

</div>